.list, .link {list-style-type: none;
text-decoration: none;}
p,
h1,
h2,
h3,
h4,
h5,
h6 {margin: 0;}

ul {margin: 0;
    padding-left: 0;}
button {cursor: pointer;}
body {margin: 0;}
.container {width: 1424px;}
.header-container {width: 1324px;
    padding-left: 50px;
    padding-right: 50px;
padding-top: 64px;}
.header-container {display: flex;
justify-content: space-between;
align-items: center;
background-color: black;}
.logo {font-family: 'Chronicle Display';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;}
.header-navigation {display: flex;
gap: 40px;}
.header-navigation > ul > li > a {color: #FFFFFF;}
.navigation-item {font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration-style: none;}
.account-button {display: flex;
    width: 98px;
    height: 24px;
    border: none;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    font-family: Gilroy Font;
    font-style: Bold;
    font-size: 17px;
    line-height: 100%;
    color: #FFFFFF;}
.account-icon {fill: #FFFFFF;
    margin-right: 8px;}
.hero-container {width: 1324px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 198px;
    padding-bottom: 171px;}
.hero-container {display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
background-color: black;}
.hero-soc {display: flex;
flex-direction: column;
gap: 24px;}
.hero-soc-list {display: flex;
    flex-direction: column;
    gap: 24px;}
.follow-text {writing-mode: vertical-rl;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: white;}
.soc-icon {fill: white;}
.hero-main-content {width: 700px;
    height: 200px;
    display: flex;
flex-wrap: wrap;
gap: 32px;
justify-content: left;}
.point {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;}
.point::before {
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FBD784;}

.hero-text {color: white;
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-transform: capitalize;}
.clue {display: flex;
flex-wrap: nowrap;
gap: 12px;}
.clue-text {font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
color: #FBD784;
text-transform: lowercase;}
.clue-icon {fill: #FBD784;}

.start-part {color: white;
text-align: right;}
.start-text {font-family: 'Gilroy';
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;}
.start-data {display: flex;
    flex-direction: column;
    gap: 40px;}

.zero-container {width: 1324px;
    padding-left: 50px;
    padding-right: 50px;
padding-top: 240px;
padding-bottom: 200px;
background-color: black;
display: flex;
flex-wrap: nowrap;
gap: 114px;
align-items: center;}
.zero-one-left {
    width: 632px;
    height: 439px;
    display: flex;
    flex-wrap: wrap;
    gap: 27px;}
.zero-title {margin-bottom: 27px;
font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;}
.zero-text {font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;}
.zero-one-right {width: 566px;
    height: 720px;}
.zero-two-right {width: 632px;
    height: 439px;
    display: flex;
    flex-wrap: wrap;
    gap: 27px;}
.zero-three-left {width: 632px;
    height: 439px;
    display: flex;
    flex-wrap: wrap;
    gap: 27px;}
.zero-three-right {width: 566px;
    height: 720px;}

.foter-container {width: 1324px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
flex-wrap: nowrap;
gap: 593px;
background-color: black;}
.more {display: flex;
flex-wrap: nowrap;
gap: 212px;}
.more-blog-item {margin-bottom: 16px;}
/* .zero-one-right {display: block;} */